
{deps, [
    {rebar_plugin_manager, ".*"},
    {neotoma, ".*",
        {git, "https://github.com/seancribbs/neotoma.git"}}
]}.

{neotoma_opts, [
    {out_dir, "generated"},
    {module_ext, "_grammar"}
    %{transform_module, ogql_ast_xform}
]}.

%{erl_first_files, ["ogql_ast_xform"]}.
{erl_opts, [{src_dirs, ["src", "generated"]}]}.

{plugins, [build_plugin, rebar_plugin_manager]}.
