
{extend, "rebar.config"}.
{deps, [
    {hamcrest, ".*",
        {git, "https://github.com/hyperthunk/hamcrest-erlang.git"}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_compile_opts, [{d, 'DEBUG'},{src_dirs, ["src", "generated"]}]}.
{plugins, [rebar_plugin_manager, build_plugin]}.
