
{deps, [
    {proper, "1.0", 
        {git, "http://github.com/manopapad/proper.git", "master"}},
    {hamcrest, ".*",
        {git, "https://github.com/hyperthunk/hamcrest-erlang.git"}},
    {rebar_qc_plugin, ".*",
        {git, "git://github.com/hyperthunk/rebar_qc_plugin.git"}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{qc_opts, [long_result, {numtests, 500}]}.

{plugins, [rebar_plugin_manager, rebar_qc_plugin]}.
